img{
    height: 350px;
    width: 280px;
    float:left;
    border-radius: 250px;
    margin-top:50px;
    margin-left: 200px;
    margin-right:100px;
}
.t{
    padding-top: 50px;
    font-size: 20px;
    font-weight: bold;
}
.desc
{
    font-size: 40px;
}